.categoria_personajes{
	text-align: center;
}

.contenedor_masivo{
	width: 60%;
	display: inline-flex;
}

.contenedor_personaje{
	width: 20%;
	border-color: #000000;
	border-style: solid;
	border-width: 15px;
	margin:auto;
	text-align: center;
	background-color: #FFFFFF;
	cursor:pointer;
}

.contenedor_personaje h4{
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;

}

.contenedor_personaje img{
	width:100%;
}

.contenedor_personaje a, .contenedor_personaje a:visited{
	text-decoration: none;
}



#bombon, #bombon a:visited{
	border-color: #FDAFC9;
	color: #FDAFC9;
	text-decoration-color: #FDAFC9;
}
#burbuja, #burbuja a:visited{
	border-color: #01A2E6;
	color: #01A2E6;
}
#bellota, #bellota a:visited{
	border-color: #00FF01;
	color: #00FF01;
}

#cat_ciudadanos .contenedor_personaje, #cat_ciudadanos a{
	border-color: #C0C0C0;
	color: #C0C0C0;
	text-decoration-color: #C0C0C0;
}

#cat_villanos .contenedor_personaje, #cat_villanos a{
	border-color: #000000;
	color: #000000;
	text-decoration-color: #000000;
}

.info_personaje{
	display: block;
	text-align: center;
	font-weight: bold;
	margin:auto;
	width: 60%;
}

.info_personaje p{
	text-align: center;
}