header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
	background-color: black;
	position: sticky;
	top: 0;
}

.icon { display: none; }

nav{
	background-color: black;

}

nav ul li{
	display: inline-block;
}

nav ul li a, nav ul li a:visited{
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	padding-right: 2rem;
}

.menu_op1:hover{
	color: hotpink;
}

.menu_op2:hover{
	text-decoration: none;
	color: #01A2E6;
}

.menu_op3:hover{
	text-decoration: none;
	color: #00FF01;
}

body{
	font-family: 'Rubik', sans-serif;
	background: url(../images/background.jpg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
}

h3{
	display: block;
	text-align: center;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}

section{
	display:flex;
	flex-direction: column;
}




/*PERSONAJES*/
.categoria_personajes{
	text-align: center;
	padding-top: 1.5rem;
}

.contenedor_masivo{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.contenedor_personaje{
	width:7rem;
	border-color: #000000;
	border-style: solid;
	border-width: 15px;
	margin:1rem;
	text-align: center;
	background-color: #FFFFFF;
	cursor:pointer;
	display: inline-block;
}

#cat_ppg_girls .contenedor_personaje{
	width:8rem;
}

.contenedor_personaje h4{
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;

}

.contenedor_personaje img{
	width:100%;
}

.contenedor_personaje a, .contenedor_personaje a:visited{
	text-decoration: none;
}



#bombon, #bombon a:visited{
	border-color: #FDAFC9;
	color: #FDAFC9;
	text-decoration-color: #FDAFC9;
}
#burbuja, #burbuja a:visited{
	border-color: #01A2E6;
	color: #01A2E6;
}
#bellota, #bellota a:visited{
	border-color: #00FF01;
	color: #00FF01;
}

#cat_ciudadanos .contenedor_personaje, #cat_ciudadanos a{
	border-color: #C0C0C0;
	color: #C0C0C0;
	text-decoration-color: #C0C0C0;
}

#cat_villanos .contenedor_personaje, #cat_villanos a{
	border-color: #000000;
	color: #000000;
	text-decoration-color: #000000;
}

.info_personaje{
	display: block;
	text-align: center;
	font-weight: bold;
	margin:auto;
	width: 60%;
}

.info_personaje p{
	text-align: center;
}



/*EPISODIOS*/

#contenedor_episodios button{
	font-weight: bold;
	border: none;
	border-radius: 4px;
	border-color: white;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

button#temporada1, button#temporada4{
	background-color: #FDAFC9;
}

button#temporada2, button#temporada5{
	background-color: #01A2E6;
}

button#temporada3, button#temporada6{
	background-color: #00FF01;
}

#contenedor_episodios button:hover{
	background-color: black !important;
}

#contenedor_episodios ol{
	text-align: center;
	width: 90%;
	padding-inline-start: 0px;
	margin-left: auto;
	margin-right:auto;
}

#contenedor_episodios li{
	list-style-type:none;
	display: inline-block;
}

.tabla_episodios{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	background-color: #C0C0C0;
	border-radius: 4px;
}

.etiqueta_titulo{
	text-align: left;
}

.ep_descripcion{
	text-align: left;
	background-color: #F2F2F2;
}

.ep_descripcion:hover{
	background-color: white;
}




/*RESEÑAS*/
#contenedor_resenas{
	width:90%;
	text-align: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right:auto;
}

.caja_resena{
	width:70%;
	background-color: #C0C0C0;
	margin:2%;
	border-radius: 10px;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 0.25rem;
}

.caja_resena:hover{
	background-color: #F2F2F2;
}

.caja_resena p{
	padding-top: 10px;
}

.caja_resena a, .caja_resena a:visited{
	text-decoration-color: black;
	color: black;
}





@media (max-width: 480px) { 
header{
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 1;
}
header div, header a {
	flex: 1 0 50%;
}
header nav {
	flex-basis: 100%;
}

.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
	color:white;
}

nav ul {
	display: none;
}
nav.responsive ul {
	display: block;
	padding-inline-start:0px;
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
}