header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
	background-color: black;
	position: sticky;
	top: 0;
}

header img{
	width: 100%;
	height: 100%;
}

.icon { display: none; }

nav{
	background-color: black;

}

nav ul li{
	display: inline-block;
}

nav ul li a, nav ul li a:link, nav ul li a:visited{
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	padding-right: 2rem;
}

.menu_op1:hover{
	color: hotpink;
}

.menu_op2:hover{
	text-decoration: none;
	color: #01A2E6;
}

.menu_op3:hover{
	text-decoration: none;
	color: #00FF01;
}

body{
	font-family: 'Rubik', sans-serif;
	background: url(../images/background.jpg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
}

h3{
	display: block;
	text-align: center;
}


section{
	display:flex;
	flex-direction: column;
}

#boton_up{
	display: none;
	width:4rem;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	padding: 0.1rem;
	font-size: 18px;
	font-weight: bold;
}

#boton_up img{
	width: 100%;
}

#boton_up div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

#boton_up div:hover{
	color: black;
	opacity: 1;
}



/*INICIO*/
h1{
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight:bold;
}

h2{
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight:bold;
	padding-top: 2rem;
}

.seccion_inicio p{
	width: 90%;
	text-align: center;
	margin:auto;
}

#contenedor_foto{
	width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 1.5rem;
}

.seccion_inicio img{
	margin-top: 1rem;
	width:100%;
	margin: auto;
}

.pie_foto{
	font-size: 0.9rem;
	margin-bottom: 1rem;
	margin: auto;
}





/*PERSONAJES*/
.categoria_personajes{
	text-align: center;
	padding-top: 1.5rem;
}

.contenedor_masivo{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.contenedor_personaje{
	width:6rem;
	border-color: #000000;
	border-style: solid;
	border-width: 15px;
	margin:1rem;
	text-align: center;
	background-color: #FFFFFF;
	cursor:pointer;
	display: inline-block;
}

#cat_ppg_girls .contenedor_personaje{
	width:8rem;
}

.contenedor_personaje h4{
	text-align: center;
	margin-top: 0%;
	margin-bottom: 0%;

}

.contenedor_personaje img{
	width:100%;
}

.contenedor_personaje a, .contenedor_personaje a:visited{
	text-decoration: none;
}



#bombon, #bombon a:link, #bombon a:visited{
	border-color: hotpink;
	color: hotpink;
	text-decoration-color: hotpink;
}
#burbuja, #burbuja a:link, #burbuja a:visited{
	border-color: #01A2E6;
	color: #01A2E6;
	text-decoration-color: #01A2E6;
}
#bellota, #bellota a:link, #bellota a:visited{
	border-color: #00FF01;
	color: #00FF01;
	text-decoration-color: #00FF01;
}

#cat_ciudadanos .contenedor_personaje, #cat_ciudadanos a{
	border-color: #C0C0C0;
	color: #C0C0C0;
	text-decoration-color: #C0C0C0;
}

#cat_villanos .contenedor_personaje, #cat_villanos a{
	border-color: #000000;
	color: #000000;
	text-decoration-color: #000000;
}

.info_personaje{
	display: block;
	text-align: center;
	font-weight: bold;
	margin:auto;
	width: 60%;
}

.info_personaje p{
	text-align: center;
}

#seccion_bombon .contenedor_personaje, #seccion_burbuja .contenedor_personaje, #seccion_bellota .contenedor_personaje {
	width:10rem;
	margin:0;
}

.contenedor_bombon{
	border-radius: 10px;
	background-color: hotpink;
	padding:0.5rem;
	margin:1rem;
}

.contenedor_burbuja{
	border-radius: 10px;
	background-color: #01A2E6;
	padding:0.5rem;
	margin:1rem;
}

.contenedor_bellota{
	border-radius: 10px;
	background-color: #00FF01;
	padding:0.5rem;
	margin:1rem;
}

.back_personajes{
	margin:auto;
	font-size: 1rem;
	background-color: black;
	color:white;
	text-transform: uppercase;
}
a.back_personajes, a.back_personajes:link, a.back_personajes:visited{
	text-decoration: none;
}

a.back_personajes:hover{
	background-color: white;
	color:black;
}

a.voice_actor, a.voice_actor:link, a.voice_actor:visited{
	text-decoration: none;
	font-weight: bold;
	color:black;
}
a.voice_actor:hover{
	color:white;
}




/*EPISODIOS*/

#contenedor_episodios button{
	font-weight: bold;
	border: none;
	border-radius: 4px;
	border-color: white;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

.cerrar_tabla{
	width:100%;
	background-color: black;
}

button#temporada1, button#temporada4{
	background-color: hotpink;
}

button#temporada2, button#temporada5{
	background-color: #01A2E6;
}

button#temporada3, button#temporada6{
	background-color: #00FF01;
}

#contenedor_episodios button:hover{
	background-color: black !important;
}

#contenedor_episodios ol{
	text-align: center;
	width: 90%;
	padding-inline-start: 0px;
	margin-left: auto;
	margin-right:auto;
}

#contenedor_episodios li{
	list-style-type:none;
	display: inline-block;
}

.tabla_episodios{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	background-color: #C0C0C0;
	border-radius: 4px;
}

.etiqueta_titulo{
	text-align: left;
}

.ep_descripcion{
	text-align: left;
	background-color: #F2F2F2;
}

.ep_descripcion:hover{
	background-color: white;
}




/*RESEÑAS*/
#contenedor_resenas{
	width:90%;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-left: auto;
	margin-right:auto;
}

.caja_resena{
	width:90%;
	background-color: #C0C0C0;
	margin:2%;
	border-radius: 10px;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	padding: 0.25rem;
}

.caja_resena:hover{
	background-color: #F2F2F2;
}

.caja_resena p{
	padding-top: 10px;
}

.caja_resena a, .caja_resena a:link, .caja_resena a:visited{
	text-decoration-color: black;
	color: black;
}



/*CONTACTO*/
#formulario{
	background-color: #C0C0C0;
	border-radius: 20px;
	width:90%;
	font-size:1.25rem;
	align-items: center;
	display:flex;
    flex-direction: column;
    padding:1.5rem;
}

#boton_enviar{
	margin:1rem;
	font-size: 1rem;
	background-color: black;
	color:white;
	text-transform: uppercase;
	border:none;
	padding: 1rem;
	cursor:pointer;
	border-radius: 10px;
}

#boton_enviar:hover{
	background-color: white;
	color:black;
}




/*GALERIA*/



#contenedor_galeria{
	width:90%;
	justify-content: center;
}

.row{
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: black;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  height:10rem;
  width:auto;
  display:inline-block;
}
.column2 {
  height:2.5rem;
  display:inline-block;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  height:30rem;
  width: auto;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
#contenedor_galeria .prev, #contenedor_galeria .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
#contenedor_galeria .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#contenedor_galeria img {
  margin-bottom: -4px;
  height:100%;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#contenedor_galeria img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Mapa de sitio*/
.seccion_mapa{
	padding-left: 1rem;
	display:flex;
	flex-direction: column;
	width: fit-content;
}

.seccion_mapa h3{
	text-align: left;
}

.seccion_mapa a,.seccion_mapa a br, .seccion_mapa a:link, .seccion_mapa a:visited{
	text-decoration-color: black;
	color: black;
	padding-left: 1rem;
}






footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
	flex-wrap: wrap;
	margin-top: 4rem;
}

footer a{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
}

footer img{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: 5%;
}

.box_redes{
	display:flex;
	width:50%;
	justify-content: center;
}

.last_line, .last_line a, .last_line a:link, .last_line a:visited{
	color:#333333;
	text-decoration-color: #333333;
}




@media (max-width: 480px) { 
header{
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 1;
}
header div, header a {
	flex: 1 0 50%;
}
header nav {
	flex-basis: 100%;
}

.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
	color:white;
}

nav ul {
	display: none;
}
nav.responsive ul {
	display: block;
	padding-inline-start:0px;
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
}

.seccion_inicio img{
	width: 100%;
}



.close{
	right: 0;
}

.modal{
	width: 70%
	padding-top: 2rem;
}

.mySlides{
	height: 25rem;
	width:auto;
}

.row{
	justify-content: space-between;
}

.column {
  height:5.5rem;
}

.column2{
	height:2rem;
}

footer{
	height: 80px;
}
footer img{
	max-width: 1.5rem;
}

}